PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/taskmanager
JWT_SECRET=supersecretjwtkey
NODE_ENV=development

# Gmail SMTP Credentials for OTP delivery
GMAIL_USER=
GMAIL_PASS=

# Google OAuth 2.0 Credentials
GOOGLE_CLIENT_ID=
